{% extends 'movies/base.html' %} {% load static %} {% block css_files %}

<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'vendor/slick/slick.min.css' %}"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'vendor/slick/slick-theme.min.css' %}"
/>

{% endblock %} {% block page_title %} Index {% endblock %} {% block content %}

<div id="wrapper">
  {% include 'partials/_sidebar.html' %}

  <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
      {% include 'partials/_topbar.html' %}

      <div class="container-fluid">
        {% include 'partials/profile-topbar.html' %}

        <div class="row">
          <div class="col-xl-3 col-lg-3">
            {% include 'partials/profile-menu.html' %}
          </div>
          <div class="col-xl-9 col-lg-9">
            <div class="bg-white p-3 widget shadow rounded mb-4">
            <div id="sidebar-1-1">
                  <div class=" d-sm-flex align-items-center justify-content-between mb-3">
                    <h1 class="h5 mb-0 text-gray-900">Profile</h1>
                  </div>
                  <div class="row gutter-1">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="exampleInput1">First Name</label>
                        <input id="exampleInput1" type="text" class="form-control" placeholder="First name">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="exampleInput2">Last Name</label>
                        <input id="exampleInput2" type="text" class="form-control" placeholder="Last name">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="exampleInput3">Company</label>
                        <input id="exampleInput3" type="text" class="form-control" placeholder="Company">
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <label for="exampleInput4">Street</label>
                        <input id="exampleInput4" type="text" class="form-control" placeholder="Street">
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <label for="exampleInput5">Zip</label>
                        <input id="exampleInput5" type="text" class="form-control" placeholder="Zip">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="exampleInput6">Telephone</label>
                        <input id="exampleInput6" type="text" class="form-control" placeholder="Telephone">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="exampleInput7">Email</label>
                        <input id="exampleInput7" type="text" class="form-control" placeholder="Email">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <a href="#!" class="btn btn-primary">Save Changes</a>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      document.querySelectorAll("#sidebar-1 .nav-link")[0].classList.add("active");
    </script>

    {% include 'partials/_footer.html' %}
  </div>
</div>

{% endblock %}
